src/main/resources/config/xml/cjse_integration/cjse-integration-pilot-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
	
	CJS Exchange: Integration Messaging Protocol
	Types Schema
	
	Version 0.22	05-08-2003  (No change since 0.21)
	
-->
<xsd:schema xmlns:bt="urn:integration-cjsonline-gov-uk:pilot:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="urn:integration-cjsonline-gov-uk:pilot:types" elementFormDefault="qualified">
	<!-- Common restrictions of xsd:string type -->
	<xsd:simpleType name="CJSENormalString">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\x00-\xFF\\u20ac]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CJSERestrictedString">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z0-9\s~!&quot;@#$%&amp;'\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]_\{\}\^\u00a3\u20ac]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CJSECodeString">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z0-9]*|[A-Za-z0-9]+[A-Za-z0-9\.\- _]*[A-Za-z0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CJSEIdentifierString">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:pattern value="[^\s]?|[^\s].*[^\s]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Business types -->
	<xsd:simpleType name="AddressLine">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailStatusCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailStatusDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessMessageText">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessEventTime">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="2003-01-01T00:00:00"/>
			<xsd:maxInclusive value="2103-01-01T23:59:59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessEventTypeID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessCaseFileID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessCRNID">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="23"/>
			<xsd:maxLength value="23"/>
			<xsd:pattern value="[0-9]{2}[A-Za-z0-9]{4}[0-9]{2}[0-9]{11}[A-Za-z0-9]{1}[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessPrison">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[A-Za-z]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessASN">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="20"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[0-9]{2}[A-Za-z0-9]{4}[0-9]{2}[0-9]{11}[A-Za-z0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessPNCID">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[0-9]{4}[0-9]{7}[A-Za-z0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessPrisonerID">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="6"/>
			<xsd:pattern value="([A-Za-z]{2}[0-9]{4})|([0-9]{5})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessPTIURN">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
			<!--Vantive 3061537 - CR 62: Relax Validation of PTI URN-->
			<!--xsd:minLength value="11" /-->
			<!--xsd:maxLength value="11" /-->
			<!--xsd:pattern value="[A-Za-z0-9]{4}[0-9]{5}[0-9]{2}" /-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessCRONumber">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="8"/>
			<xsd:pattern value="[0-9]{6}[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessGender">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Female"/>
			<xsd:enumeration value="Male"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessBailStatusCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessJuvenileIndicator">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="CaseFileDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseFileID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseFileName">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseFileSummary">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CJSIBISOffenceCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="7"/>
			<xsd:maxLength value="8"/>
			<xsd:pattern value="([A-Za-z]{2}[0-9]{5}[A-Za-z]?)|([A-Za-z]{4}[0-9]{3}[A-Za-z]?)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceDate">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="2003-01-01T00:00:00"/>
			<xsd:maxInclusive value="2103-01-01T23:59:59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceJudge">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceName">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceRoom">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceRoomNumber">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="CourtAppearanceTypeCode">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNAdjudicationDate">
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="2003-01-01"/>
			<xsd:maxInclusive value="2103-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNChargeDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNChargeSheetNumber">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNID">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="23"/>
			<xsd:maxLength value="23"/>
			<xsd:pattern value="[0-9]{2}[A-Za-z0-9]{4}[0-9]{2}[0-9]{11}[A-Za-z0-9]{1}[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNIncidentReferenceNumber">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNLinkTypeCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNLinkTypeDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNOffenceDate">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="1800-01-01T00:00:00"/>
			<xsd:maxInclusive value="2103-01-01T23:59:59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNOffenceLocation">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNPlea">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNSentenceDisposal">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNStatusCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRNStatusDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateOfBirth">
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="1800-01-01"/>
			<xsd:maxInclusive value="2103-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DartsCaseRetentionFixedPolicy">
		<xsd:restriction base="bt:CJSENormalString">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DartsCaseTotalSentence">
		<xsd:restriction base="bt:CJSENormalString">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DartsEventText">
		<xsd:restriction base="bt:CJSENormalString">
			<!--<xsd:maxLength value="1000"/>-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DartsRetentionPolicy">
		<xsd:restriction base="bt:CJSENormalString">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DefendantID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DefendantIdentifierTypeCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DefendantIdentifierTypeDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DefendantNationalityType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeportationReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeviceID">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Discrimination">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentContentBody">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentContentHumanReadable">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentFilename">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentMimeType">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentName">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentSize">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentTypeCategory">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentTypeCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentTypeDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EventText">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddress">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:pattern value="([\w-.!#$%&amp;*+/=?^`{|}~]+)@((([\d]{1,3}\.){3}[\d]{1,3})|(([a-zA-Z0-9\-]+\.)+)([a-zA-Z]{2,}))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FaxNumber">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="44[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileDateTime">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="2003-01-01T00:00:00"/>
			<xsd:maxInclusive value="2103-01-01T23:59:59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FirstName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[\u00c0-\u01ff0-9a-zA-Z\-'\s\(\)@&amp;!,]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Gender">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Female"/>
			<xsd:enumeration value="Male"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Juvenile">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="LastName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[\u00c0-\u01ff0-9a-zA-Z\-'\s\(\)@&amp;!,]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MarkUrgent">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="MiddleName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="128"/>
			<xsd:pattern value="[\u00c0-\u01ff0-9a-zA-Z\-'\s\(\)@&amp;!,]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MobilePhoneNumber">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="44[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NarrativeText">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObservationPoint">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObservationTime">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="2003-01-01T00:00:00"/>
			<xsd:maxInclusive value="2103-01-01T23:59:59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganisationalUnitID">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganisationalUnitName">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PagerNumber">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="44[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoleID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoleName">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceTestID">
		<xsd:restriction base="bt:CJSEIdentifierString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemID">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="15"/>
			<xsd:pattern value="[SX][A-Za-z]+[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UKPostcode">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(GIR 0AA)|((([A-Z][0-9][0-9]?)|(([A-Z][A-HJ-Y][0-9][0-9]?)|(([A-Z][0-9][A-Z])|([A-Z][A-HJ-Y][0-9]?[A-Z])))) [0-9][A-Z]{2})"/>
			<!-- Pattern as per GovTalk BS7666 schema v1.1 -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UserID">
		<xsd:restriction base="bt:CJSERestrictedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerdictStatusCode">
		<xsd:restriction base="bt:CJSECodeString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerdictStatusDescription">
		<xsd:restriction base="bt:CJSENormalString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
