src/main/resources/config/xsd/CPPX_PublicDisplay-v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="currentcourtstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="court"/>
        <xs:element ref="datetimestamp"/>
        <xs:element name="pagename" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="court">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courtname" type="xs:string"/>
        <xs:element ref="courtsites"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courtsites">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="courtsite" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courtsite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courtsitename" type="xs:string"/>
        <xs:element ref="courtrooms"/>
		<xs:element ref="floating"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="floating">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cases" minOccurs="0"/>
        <xs:element name="timestatusset" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courtrooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="courtroom" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courtroom">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cases" minOccurs="0"/>
        <xs:element name="timestatusset" type="xs:string" minOccurs="0"/>
        <xs:element name="courtroomname" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cases">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="caseDetails" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="hearingProgressOptions">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="reportingRestrictionsOptions">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="activeCaseOptions">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeFormat">
	 <xs:restriction base="xs:string">
		 <xs:pattern value="\d{2}[:]\d{2}"/>
	 </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateFormat">
	 <xs:restriction base="xs:string">
		 <xs:pattern value="\d{2}[/]\d{2}[/]\d{2}"/>
	 </xs:restriction>
  </xs:simpleType>
  <xs:element name="publicnotices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publicnotice" type="xs:string" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="caseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cppurn" type="xs:string" minOccurs="0"/>
        <xs:element name="casenumber" type="xs:integer" minOccurs="0"/>
        <xs:element name="casetype" type="xs:string" minOccurs="0"/>
		<xs:element name="activecase" type="activeCaseOptions"/>
        <xs:element name="hearingtype" type="xs:string"/>
        <xs:element ref="defendants" minOccurs="0"/>
        <xs:element ref="publicnotices" minOccurs="0"/>
        <xs:element name="judgename" type="xs:string" minOccurs="0"/>
        <xs:element name="notbeforetime" type="timeFormat" minOccurs="0"/>
        <xs:element ref="currentstatus" minOccurs="0"/>
		<xs:element name="timestatusset" type="timeFormat"/>
        <xs:element name="hearingprogress" type="hearingProgressOptions" minOccurs="0"/>
		<xs:element name="movedfromcourtsitename" type="xs:string" minOccurs="0"/>
		<xs:element name="movedfromcourtroomname" type="xs:string" minOccurs="0"/>
		<xs:element name="listcourtroomname" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="defendants">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="defendant" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="defendant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" minOccurs="0"/>
        <xs:element name="middlename" type="xs:string" minOccurs="0"/>
        <xs:element name="lastname" type="xs:string" minOccurs="0"/>
        <xs:element name="reportingrestrictions" type="reportingRestrictionsOptions" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currentstatus">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="event" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="time" type="timeFormat"/>
        <xs:element name="date" type="dateFormat"/>
        <xs:element name="hearing_id" type="xs:integer" minOccurs="0"/>
        <xs:element ref="Listed_Def_On_Case_Ids" minOccurs="0"/>
        <xs:element ref="E20903_Prosecution_Case_Options" minOccurs="0"/>
        <xs:element ref="E20918_Cracked_Trial_Options" minOccurs="0"/>
        <xs:element ref="E20920_Witness_Number" minOccurs="0"/>
        <xs:element ref="E20902_Jury_Sworn_In" minOccurs="0"/>
        <xs:element name="free_text" type="xs:string"/>
        <xs:element name="process_linked_cases" type="xs:boolean" minOccurs="0"/>
        <xs:element ref="E20502_P_And_D_Hearing_On_Date" minOccurs="0"/>
        <xs:element ref="E20602_Respondent_Case_Opened" minOccurs="0"/>
        <xs:element ref="E20603_Witness_Sworn_Options" minOccurs="0"/>
        <xs:element name="E20604_Witness_No" type="xs:string" minOccurs="0"/>
        <xs:element name="E20604_Witness_Name" type="xs:string" minOccurs="0"/>
        <xs:element ref="E20610_Appeal_Judgement_Options" minOccurs="0"/>
        <xs:element ref="E20611_Legal_Argument_Options" minOccurs="0"/>
        <xs:element name="E20612_Interpreter_Sworn_Name" type="xs:string" minOccurs="0"/>
        <xs:element ref="E20901_Time_Estimate_Options" minOccurs="0"/>
        <xs:element name="E20905_WSO_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E20906_Defence_CO_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E20906_Defence_CO_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="E20906_Defence_CC_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E20906_Defence_CC_ID" type="xs:string" minOccurs="0"/>
        <xs:element ref="E20916_Legal_Argument_Options" minOccurs="0"/>
        <xs:element ref="E20917_Interpreter_Name" minOccurs="0"/>
        <xs:element ref="E20931_Witness_Number" minOccurs="0"/>
        <xs:element ref="E20932_Witness_Number" minOccurs="0"/>
        <xs:element ref="E20935_Witness_Read_Options" minOccurs="0"/>
        <xs:element ref="E21100_Legal_Argument_Options" minOccurs="0"/>
        <xs:element ref="E21200_Reporting_Restrictions" minOccurs="0"/>
        <xs:element ref="E30100_Short_Adjourn_Options" minOccurs="0"/>
        <xs:element ref="E30200_Long_Adjourn_Options" minOccurs="0"/>
        <xs:element ref="E31000_Witness_Number" minOccurs="0"/>
        <xs:element ref="E32000_Witness_Number" minOccurs="0"/>
        <xs:element ref="E40601_7_14_Day_Order_Options" minOccurs="0"/>
        <xs:element name="defendant_on_case_id" type="xs:integer" minOccurs="0"/>
        <xs:element name="E20606_Appellant_CO_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E20606_Appellant_CO_ID" type="xs:string" minOccurs="0"/>
        <xs:element ref="E20904_Witness_Sworn_Options" minOccurs="0"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="E20613_Witness_Number" type="xs:string" minOccurs="0"/>
        <xs:element name="E20905_WSO_Number" type="xs:string" minOccurs="0"/>
        <xs:element name="defendant_name" type="xs:string" minOccurs="0"/>
        <xs:element name="scheduled_hearing_id" type="xs:integer" minOccurs="0"/>
        <xs:element name="defendant_masked_name" type="xs:string" minOccurs="0"/>
        <xs:element name="defendant_masked_flag" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listed_Def_On_Case_Ids">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Def_On_Case_Id" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Def_On_Case_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="doc_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datetimestamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dayofweek" type="daysOfWeekType"/>
        <xs:element name="date">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="31"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="month" type="monthsOfYearType"/>
        <xs:element name="year">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="2019"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="hour">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="23"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="59"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="daysOfWeekType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Monday"/>
      <xs:enumeration value="Tuesday"/>
      <xs:enumeration value="Wednesday"/>
      <xs:enumeration value="Thursday"/>
      <xs:enumeration value="Friday"/>
      <xs:enumeration value="Saturday"/>
      <xs:enumeration value="Sunday"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="monthsOfYearType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="January"/>
      <xs:enumeration value="February"/>
      <xs:enumeration value="March"/>
      <xs:enumeration value="April"/>
      <xs:enumeration value="May"/>
      <xs:enumeration value="June"/>
      <xs:enumeration value="July"/>
      <xs:enumeration value="August"/>
      <xs:enumeration value="September"/>
      <xs:enumeration value="October"/>
      <xs:enumeration value="November"/>
      <xs:enumeration value="December"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20502_P_And_D_Hearing_On_Date" type="xs:string"/>
  <xs:element name="E20602_Respondent_Case_Opened">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20602_RCO_Type" type="event20602OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20602OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20602_TV_Link_In_Progress"/>
      <xs:enumeration value="E20602_Video_Being_Played"/>
      <xs:enumeration value="E20602_Respondent_Case_Opened"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20603_Witness_Sworn_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20603_Witness_No" type="xs:string" minOccurs="0"/>
        <xs:element name="E20603_Witness_Name" type="xs:string"/>
        <xs:element name="E20603_WS_List" type="event20603OptionType"/>
        <xs:element name="E20603_Witness_ID" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20603OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20603_Respondent_Witness_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Witness_Character_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Witness_Character_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Witness_Expert_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Witness_Professional_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Witness_Fact_Sworn"/>
      <xs:enumeration value="E20603_Appellant_Sworn"/>
      <xs:enumeration value="E20603_Interpreter_Sworn"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20610_Appeal_Judgement_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20610_AJO_Type" type="event20610OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20610OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20610_Appellant_against_conviction_dismissed"/>
      <xs:enumeration value="E20610_Appellant_against_conviction_allowed"/>
      <xs:enumeration value="E20610_Appellant_against_sentence_allowed"/>
      <xs:enumeration value="E20610_Appellant_against_sentence_varied"/>
      <xs:enumeration value="E20610_Appellant_against_sentence_dismissed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20611_Legal_Argument_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20611_Opt1_Public_Not_Permitted_To_Enter" type="xs:integer"/>
        <xs:element name="E20611_Opt2_Judges_Ruling" type="xs:string"/>
        <xs:element name="E20611_Opt3_Appellant_Addresses_Judge" type="xs:string"/>
        <xs:element name="E20611_Opt4_Respondent_Addresses_Judge" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20901OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20901_days"/>
      <xs:enumeration value="E20901_weeks"/>
      <xs:enumeration value="E20901_months"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20901_Time_Estimate_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20901_TEO_time" type="xs:string"/>
        <xs:element name="E20901_TEO_units" type="event20901OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20902_Jury_Sworn_In">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20902_JSIO_juror12" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror11" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror10" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo1" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror4" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror3" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror2" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror1" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror8" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo10" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror7" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror6" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo12" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror5" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo11" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo3" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo2" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo5" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo4" type="xs:string"/>
        <xs:element name="E20902_JSIO_juror9" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo7" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo6" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo9" type="xs:string"/>
        <xs:element name="E20902_JSIO_jurorNo8" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20903_Prosecution_Case_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20903_PCO_Type" type="event20903OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20903OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20903_Prosecution_Opening"/>
      <xs:enumeration value="E20903_Prosecution_Case_TV_Link_in_Progress"/>
      <xs:enumeration value="E20903_Prosecution_Case_Video_Being_Played"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="event20904OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20904_Prosecution_witness_sworn"/>
      <xs:enumeration value="E20904_Defendant_sworn"/>
      <xs:enumeration value="E20904_Prosecution_witness_expert_sworn"/>
      <xs:enumeration value="E20904_Defence_witness_expert_sworn"/>
      <xs:enumeration value="E20904_Defence_witness_character_sworn"/>
      <xs:enumeration value="E20904_Defence_witness_professional_sworn"/>
      <xs:enumeration value="E20904_Defence_witness_fact_sworn"/>
      <xs:enumeration value="E20904_Interpreter_sworn"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20904_Witness_Sworn_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20904_WSO_Type" type="event20904OptionType"/>
        <xs:element name="E20904_WSO_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="E20904_WSO_Number" type="xs:string" minOccurs="0"/>
        <xs:element name="E20904_WSO_Name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20916_Legal_Argument_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20916_Opt1_Public_Not_Permitted_To_Enter" type="xs:integer"/>
        <xs:element name="E20916_Opt2_Judges_Ruling" type="xs:string"/>
        <xs:element name="E20916_Opt3_Defence_Addresses_Judge" type="xs:string"/>
        <xs:element name="E20916_Opt4_Prosecution_Addresses_Judge" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20917_Interpreter_Name" type="xs:string"/>
  <xs:element name="E20918_Cracked_Trial_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20918_CTO_Type" type="event20918OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event20918OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20918_A"/>
      <xs:enumeration value="E20918_B"/>
      <xs:enumeration value="E20918_C"/>
      <xs:enumeration value="E20918_D"/>
      <xs:enumeration value="E20918_E"/>
      <xs:enumeration value="E20918_E1"/>
      <xs:enumeration value="E20918_F"/>
      <xs:enumeration value="E20918_G"/>
      <xs:enumeration value="E20918_H"/>
      <xs:enumeration value="E20918_I"/>
      <xs:enumeration value="E20918_J"/>
      <xs:enumeration value="E20918_K"/>
      <xs:enumeration value="E20918_L"/>
      <xs:enumeration value="E20918_M1"/>
      <xs:enumeration value="E20918_M2"/>
      <xs:enumeration value="E20918_M3"/>
      <xs:enumeration value="E20918_N1"/>
      <xs:enumeration value="E20918_N2"/>
      <xs:enumeration value="E20918_N3"/>
      <xs:enumeration value="E20918_O1"/>
      <xs:enumeration value="E20918_O2"/>
      <xs:enumeration value="E20918_P"/>
      <xs:enumeration value="E20918_Q1"/>
      <xs:enumeration value="E20918_Q2"/>
      <xs:enumeration value="E20918_Q3"/>
      <xs:enumeration value="E20918_R"/>
      <xs:enumeration value="E20918_S1"/>
      <xs:enumeration value="E20918_S2"/>
      <xs:enumeration value="E20918_S3"/>
      <xs:enumeration value="E20918_S4"/>
      <xs:enumeration value="E20918_T"/>
      <xs:enumeration value="E20918_U1"/>
      <xs:enumeration value="E20918_U2"/>
      <xs:enumeration value="E20918_V"/>
      <xs:enumeration value="E20918_W1"/>
      <xs:enumeration value="E20918_W2"/>
      <xs:enumeration value="E20918_W3"/>
      <xs:enumeration value="E20918_W4"/>
      <xs:enumeration value="E20918_W5"/>
      <xs:enumeration value="E20918_X"/>
      <xs:enumeration value="E20918_Y"/>
      <xs:enumeration value="E20918_Z"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20920_Witness_Number" type="xs:string"/>
  <xs:element name="E20931_Witness_Number" type="xs:string"/>
  <xs:element name="E20932_Witness_Number" type="xs:string"/>
  <xs:simpleType name="event20935OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E20935_Prosecution_witness_Read"/>
      <xs:enumeration value="E20935_Defendant_Read"/>
      <xs:enumeration value="E20935_Prosecution_witness_expert_Read"/>
      <xs:enumeration value="E20935_Defence_witness_character_Read"/>
      <xs:enumeration value="E20935_Defence_witness_expert_Read"/>
      <xs:enumeration value="E20935_Defence_witness_professional_Read"/>
      <xs:enumeration value="E20935_Defence_witness_fact_Read"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E20935_Witness_Read_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20935_WR_Type" type="event20935OptionType"/>
        <xs:element name="E20935_WR_Name" type="xs:string"/>
        <xs:element name="E20935_WR_ID" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E21100_Legal_Argument_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E21100_Opt1_Public_Not_Permitted_To_Enter" type="xs:integer"/>
        <xs:element name="E21100_Opt2_Judges_Ruling" type="xs:string"/>
        <xs:element name="E21100_Opt3_Defence_Addresses_Judge" type="xs:string"/>
        <xs:element name="E20611_Opt4_Prosecution_Addresses_Judge" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event21200OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_4(2)_of_the_Contempt_of_Court_Act_1981"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_11_of_the_Contempt_of_Court_Act_1981"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_39_of_the_Children_and_Young_Person_Act_1963"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_4_of_the_Sexual_Offenders_(Amendment_Act)_1976"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_2_of_the_Sexual_Offenders_(Amendment_Act)_1992"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_45_of_the_Youth_Justice_and_Criminal_Evidence_Act_1999"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_45a_of_the_Youth_Justice_and_Criminal_Evidence_Act_1999"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_46_of_the_Youth_Justice_and_Criminal_Evidence_Act_1999"/>
      <xs:enumeration value="E21200_An_order_has_been_made_under_Section_49_of_the_Children_and_Young_Persons_Act_1933"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E21200_Reporting_Restrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E21200_RR_Type" type="event21200OptionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E30100_Short_Adjourn_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30100_SAO_Type" type="xs:string"/>
        <xs:element name="E30100_SAO_Time" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="event30200OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E30200_Case_to_be_listed_for_trial"/>
      <xs:enumeration value="E30200_Case_to_be_listed_for_Further_Mention/PAD"/>
      <xs:enumeration value="E30200_Case_to_be_listed_for_Sentence"/>
      <xs:enumeration value="E30200_Case_to_be_listed_on_date_to_be_fixed"/>
      <xs:enumeration value="E30200_Case_to_be_listed_on"/>
      <xs:enumeration value="E30200_Case_to_be_listed_in_week_commencing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E30200_Long_Adjourn_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30200_LAO_Reserved_To_Judge_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E30200_LAO_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E30200_LAO_Date" type="xs:string"/>
        <xs:element name="E30200_LAO_PSR_Deft_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="E30200_LAO_Type" type="event30200OptionType"/>
        <xs:element name="E30200_LAO_PSR_Required" type="xs:boolean" minOccurs="0"/>
        <xs:element name="E30200_LAO_Reserved_To_Judge_Name" type="xs:string" minOccurs="0"/>
        <xs:element name="E30200_LAO_Not_Reserved" type="xs:boolean" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E31000_Witness_Number" type="xs:string"/>
  <xs:element name="E32000_Witness_Number" type="xs:string"/>
  <xs:simpleType name="event40601OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E40601_7_Day_Order"/>
      <xs:enumeration value="E40601_14_Day_Order"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E40601_7_14_Day_Order_Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E40601_7_14_Type" type="event40601OptionType"/>
        <xs:element name="E40601_7_14_Date" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
