src/main/resources/config/courtlog/schemas/20606.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schema [
	<!ENTITY defaultEvent SYSTEM "defaultEvent.xml">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--Appeal - Appellant Case Opened -->
	<xs:include schemaLocation="basic_elements.xsd"/>
	<xs:element name="event">
		<xs:complexType>
			<xs:all>
				&defaultEvent;
				<xs:element ref="E20606_Appellant_CO_Name"/>
				<xs:element ref="E20606_Appellant_CO_ID" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="E20606_Appellant_CO_Name" type="xs:string"/>
	<xs:element name="E20606_Appellant_CO_ID" type="xs:string"/>
</xs:schema>
