src/main/resources/config/courtlog/schemas/20905.xsd

<!DOCTYPE schema [
	<!ENTITY defaultEvent SYSTEM "defaultEvent.xml">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--Trial - Witness Released-->
	<xs:include schemaLocation="basic_elements.xsd"/>
	<xs:element name="event">
		<xs:complexType>
			<xs:all>
				&defaultEvent;
				<xs:element name="E20905_WSO_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="E20905_WSO_Number" type="xs:string" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
