src/main/resources/config/courtlog/schemas/40738.xsd

<!DOCTYPE schema [
	<!ENTITY defaultEvent SYSTEM "defaultEvent.xml">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- Magistrates Court general disposal Appeal Result (Criminal Appeals) Delete -->
	<xs:include schemaLocation="basic_elements.xsd"/>
	<xs:element name="event">
		<xs:complexType>
			<xs:all>
				&defaultEvent;
				<xs:element ref="Defendant_Name"/>
				<xs:element ref="Disposal_Detail"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Defendant_Name" type="xs:string"/>
	<xs:element name="Disposal_Detail" type="xs:string"/>
</xs:schema>
